@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    Our primary and motivating concern is the prevention of cruelty to all living creatures and the promotion of the humane treatment of animals through leadership, education, and law enforcement.

    Although the animal welfare issues are considered in the South African context, the NSPCA provides guidance and information to other countries whenever possible, and also provides support for international campaigns which further its objectives.

</p>


<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTelwn3Dca-x6snfrbNLbq2ZS39foJeG5MHgw&usqp=CAU" style = width = "120px", height = "300px" />

